@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Poppins&family=Ubuntu&family=Yanone+Kaffeesatz:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
h2 {
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
}
i {
  cursor: pointer;
}
